@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* media-queries */
  @media (min-width: 800px) {
    --viewport-w: 1366;
    --nav-height: 70;
  }

  @media (max-width: 800px) {
    --viewport-w: 375;
    --nav-height: 65;
  }
  /* media-queries */

  /* colors */
  --primary: 33 83% 93%;
  --primary-foreground: 280 8% 14%;
  --secondary: 280 8% 14%;
  --secondary-foreground: 33 83% 93%;
  --accent: 22 39% 47%;
  /* colors */

  /* font */
  --lh: calc(2px + 2ex + 2px);
  /* font */
}

@layer base {
  .title-xl {
    @apply text-6xl lg:text-10xl font-heading;
  }
  .title-lg {
    @apply text-3xl lg:leading-none lg:text-9xl font-heading;
  }
  .title-md {
    @apply text-4xl leading-none lg:text-5xl font-heading;
  }
  .title-sm {
    @apply text-2xl leading-none lg:text-4xl font-heading;
  }
  .title-xs {
    @apply text-xl leading-none lg:text-2xl font-heading;
  }
  .grid-inner {
    @apply grid grid-cols-12 lg:gap-x-6 gap-x-4 md:grid-cols-6;
  }
  .grid-block {
    @apply grid grid-cols-12 md:grid-cols-6 lg:gap-x-6 gap-x-4;
  }
  .main-text {
    @apply text-lg lg:text-xl font-body;
  }
  p {
    @apply font-body;
  }
  span {
    @apply font-body;
  }
}

@layer utilities {
  .img-clip {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  .clip-full {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .img-filter {
    filter: grayscale(1) sepia(0.4) contrast(0.85);
  }
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
